<!DOCTYPE HTML>
<HTML>

	<HEAD>
     	<link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	</HEAD>
  
    <body>
	   <header>
	       <h1>Simi's notes </h1> 
        	<nav>
        		<ul>
         	          <li><a href="/">Home</a><li>
         		
         		      <li><a href="/notes"> Notes</a></li>
         		      <li><a href="/resources">Resources</a></li>
         		      <li><a href="/contact_form">Comments</a></li>
				</ul>
			</nav>
		</header>
		
	      {% block content %} 
		  
          {% endblock %}
		<!-- <div class="article"> </div>

 		<div id="sidebar"> </div> -->

 	    <!-- <div id="footer" >Credits: Nano Degree ,Udacity</div>
   -->
     </body>

</HTML>