{% extends "base.html" %}
{% block content %}

	<br>
	<br>
	<br>
	<br>
 	
 	<section> <H2> Nano Degree</H2>
 		<p>Nano degree from Udacity, gives you the confidence that is not possible to get from anywhere else,specially for people who didn't had a chance to go the the traditional school. 
 		Throughout  the program various topics on Computer science has been touched.
 		<li>
 			<ul>
 				<br> HTML and CSS</br>
 				<br> HTTP Protocol </br>
 				<br> Servers </br>
 				<br> Developing a web Application </br>
            
        	</ul>

      	</li>
 		</p>
  
	</section>

<div id="footer" position:absolute;>

{% endblock %}