{% extends "base.html" %}
{% block content %}
	<br>
	<br>
	<br>
    <section>
	<div><h2>Here are some very helpful Resources</h2></div>
    	<div>
      		
      			<ul>
         			<br><a href="http://www.w3schools.com/html/" >HTML and CSS</a></br>
         	
         			<br><a href="http://www.w3.org/Protocols/rfc2616/rfc2616.html"> HTTP Protocol</a></br>
         	
         			<br> <a href="https://en.wikipedia.org/wiki/Object-oriented_programming" >OOP</a></br>
         			<br><a href="https://en.wikipedia.org/wiki/Web_application" >Web Application</a></br>
         			<br><a href="http://www.w3schools.com/html/html_forms.asp" >Forms</a></br>
         			<br> <a href="https://www.python.org" >Python</a></br>
      			</ul>
       		
    	</div>

   </section>

{% endblock %}